body {
  overflow: hidden;
  min-height: 100vh;
}
.bubble {
  position: absolute;
  border-radius: 300px;
  background: rgba(255, 166, 0, 0.6);
  opacity: 0;
  animation: anim 8s forwards;
  filter: hue-rotate(0deg);
  cursor: pointer;
}

@keyframes anim {
  to {
    top: -250px;
    left: var(--left);
    opacity: 1;
    filter: hue-rotate(720deg);
    transform: rotate(720deg);
  }
}

.penta {
  position: absolute;
  clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
  background: rgba(157, 255, 0, 0.5);
  opacity: 0;
  animation: anim 8s forwards;
  filter: hue-rotate(0deg);
  cursor: pointer;
}
h2 {
  font-size: 5rem;
  text-align: center;
  margin-top: 20px;
  color: rgba(128, 128, 128, 0.555);
}
h3 {
  font-size: 10rem;
  text-align: center;
  margin-top: 20px;
  color: rgba(128, 128, 128, 0.555);
  user-select: none;
}


